
streamlit>=1.25.0,<2.0.0
pandas>=2.0.0
plotly>=5.15.0
gspread>=5.10.0
oauth2client>=4.1.3
openpyxl>=3.1.2
streamlit-authenticator==0.4.2
python-dotenv>=1.0.0
watchdog>=3.0.0
bcrypt>=4.0.1
PyYAML>=6.0.1
openai


# Recomendado (mas opcional):
bcrypt>=4.0.1        # Usado internamente pelo streamlit-authenticator
PyYAML>=6.0.1        # Usado pelo streamlit-authenticator
